In [15]:

import pandas as pd
import psycopg2 as ps


DBNAME = 'project_sql'
USER = 'skillfactory'
PASSWORD = 'cCkxxLVrDE8EbvjueeMedPKt'
HOST = '84.201.134.129'
PORT = 5432




connection = ps.connect(
    dbname = DBNAME ,
    user = USER,
    password = PASSWORD,
    host = HOST,
    port = PORT
    
    
    
)

query = f'''
select 
count(id)


from vacancies

'''


df = pd.read_sql_query(query,connection)


print(df)

   count
0  49197

C:\Users\dmitr\AppData\Local\Temp\ipykernel_22916\633571208.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query,connection)

In [16]:
print(df.head())



query = f'''
select 
        a.name,
        count(v.area_id)
from areas as a
join vacancies as v on v.area_id = a.id
group by a.id
order by count(v.area_id) desc
limit 5

'''


df = pd.read_sql_query(query,connection)


print(df)

   count
0  49197
              name  count
0           Москва   5333
1  Санкт-Петербург   2851
2            Минск   2112
3      Новосибирск   2006
4           Алматы   1892

C:\Users\dmitr\AppData\Local\Temp\ipykernel_22916\543134892.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query,connection)

In [18]:
# Сколько вакансий есть в базе?


query = f'''
select 
count(id)
from vacancies
'''

df = pd.read_sql_query(query,connection)
print(df)

   count
0  49197

C:\Users\dmitr\AppData\Local\Temp\ipykernel_22916\858177554.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query,connection)

In [19]:
#Сколько работодателей?
query = f'''
select 
count(*)
from employers
'''
df = pd.read_sql_query(query,connection)
print(df)

   count
0  23501

C:\Users\dmitr\AppData\Local\Temp\ipykernel_22916\1179180776.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query,connection)

In [20]:
#Сколько регионов?
query = f'''
select 
count(*)
from areas
'''
df = pd.read_sql_query(query,connection)
print(df)

   count
0   1362

C:\Users\dmitr\AppData\Local\Temp\ipykernel_22916\3536820576.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query,connection)

In [21]:
#Сколько сфер деятельности?



query = f'''
select 
count(*)
from industries
'''
df = pd.read_sql_query(query,connection)
print(df)


'''
Данные показывают, что рынок труда сконцентрирован в крупных городах, особенно в Москве и Санкт-Петербурге. Однако, активность на рынке также высока в некоторых крупных городах за пределами России, таких как Минск и Алматы.
Большое количество работодателей и сфер деятельности свидетельствуют о диверсифицированном рынке труда, предлагающем множество возможностей для соискателей в различных отраслях и регионах.
Многообразие вакансий и сфер деятельности в различных регионах указывает на относительно равномерное распределение экономической активности по территории, что может свидетельствовать о стабильности и развитии региональной экономики.

'''

   count
0    294

C:\Users\dmitr\AppData\Local\Temp\ipykernel_22916\2317977538.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query,connection)

In [10]:
#Напишите запрос, который позволит узнать, сколько (cnt) вакансий в каждом регионе (area).

#Выберите пятёрку лидеров по количеству вакансий:




query = f'''
select
        a.name,
        count(v.id)
from areas as a
join vacancies as v on a.id = v.area_id
group by a.name
order by count(v.id) desc
limit 5
'''
df = pd.read_sql_query(query,connection)
print(df)

              name  count
0           Москва   5333
1  Санкт-Петербург   2851
2            Минск   2112
3      Новосибирск   2006
4           Алматы   1892

C:\Users\dmitr\AppData\Local\Temp\ipykernel_25508\2022079522.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query,connection)

In [22]:
#Посмотрим на зарплаты. У какого количества вакансий заполнено хотя бы одно из двух полей с зарплатой


query = f'''
select
        count(id)
from vacancies
where salary_from is not null or salary_to is not null
'''
df = pd.read_sql_query(query,connection)
print(df)

   count
0  24073

C:\Users\dmitr\AppData\Local\Temp\ipykernel_25508\616038970.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query,connection)

In [22]:
#Найдите средние значения для нижней и верхней границы зарплатной вилки. 
#Округлите значения до целого числа.


query = f'''
select
        round(avg(salary_from),0) as lower,
        round(avg(salary_to),0) as upper
from vacancies
'''
df = pd.read_sql_query(query,connection)
print(df)

     lower     upper
0  71065.0  110537.0

C:\Users\dmitr\AppData\Local\Temp\ipykernel_22916\2726061574.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query,connection)

In [23]:
#Напишите запрос, который выведет количество вакансий для каждого сочетания типа рабочего 
#графика (schedule) и типа трудоустройства (employment), используемого в вакансиях.
#Какая пара находится на втором месте по популярности?


query = f'''
select
        count(id),
        schedule,
        employment
from vacancies 
group by schedule , employment
order by count(id) desc
'''
df = pd.read_sql_query(query,connection)
print(df)

    count          schedule           employment
0   35367       Полный день     Полная занятость
1    7802  Удаленная работа     Полная занятость
2    1593     Гибкий график     Полная занятость
3    1312  Удаленная работа  Частичная занятость
4     940    Сменный график     Полная занятость
5     569       Полный день           Стажировка
6     367    Вахтовый метод     Полная занятость
7     347       Полный день  Частичная занятость
8     312     Гибкий график  Частичная занятость
9     141       Полный день     Проектная работа
10    133  Удаленная работа     Проектная работа
11    116     Гибкий график           Стажировка
12    101    Сменный график  Частичная занятость
13     64  Удаленная работа           Стажировка
14     18     Гибкий график     Проектная работа
15     12    Сменный график           Стажировка
16      2    Вахтовый метод     Проектная работа
17      1    Сменный график     Проектная работа

C:\Users\dmitr\AppData\Local\Temp\ipykernel_22916\2208468182.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query,connection)

In [24]:
#Напишите запрос, выводящий значения поля 
#Требуемый опыт работы (experience) в порядке возрастания количества вакансий, 
# в которых указан данный вариант опыта.



query = f'''
select
        experience,
        count(id)
from vacancies 
where experience is not null
group by experience
order by count(id) asc
'''
df = pd.read_sql_query(query,connection)
print(df)

           experience  count
0         Более 6 лет   1337
1           Нет опыта   7197
2       От 3 до 6 лет  14511
3  От 1 года до 3 лет  26152

C:\Users\dmitr\AppData\Local\Temp\ipykernel_22916\92349641.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query,connection)

In [52]:
#Напишите запрос, который позволит узнать, какие работодатели находятся на первом и пятом месте по количеству вакансий.

query = f'''
(select
        e.name,
        count(v.id)
from employers as e
join vacancies as v on e.id = v.employer_id
group by e.name
order by count(v.id) desc
limit 1)

union all

(select
        e.name,
        count(v.id)
from employers as e
join vacancies as v on e.id = v.employer_id
group by e.name
order by count(v.id) desc
offset 4 limit 1)

'''
df = pd.read_sql_query(query,connection)
print(df)

            name  count
0         Яндекс   1933
1  Газпром нефть    331

C:\Users\dmitr\AppData\Local\Temp\ipykernel_25508\3499838298.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query,connection)

In [25]:
#Напишите запрос, который для каждого региона выведет количество работодателей и вакансий в нём.

#Среди регионов, в которых нет вакансий, найдите тот, в котором наибольшее количество работодателей.
#Впишите его название в поле ниже в том виде, который вернул запрос.

query = f'''
select
        a.name,
        count(v.id),
        count(e.id)
from areas as a
left join vacancies as v on a.id = v.area_id
left join employers as e on e.area = a.id
where v.id is null
group by a.name
order by count(v.id) desc , count(e.id) desc
'''
df = pd.read_sql_query(query,connection)
print(df)

C:\Users\dmitr\AppData\Local\Temp\ipykernel_22916\1372735694.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query,connection)

                               name  count  count
0                            Россия      0    410
1                         Казахстан      0    207
2                Московская область      0     75
3                Краснодарский край      0     19
4                          Беларусь      0     18
..                              ...    ...    ...
588                        Кувандык      0      0
589                        Куйбышев      0      0
590  Куйбышево (Ростовская область)      0      0
591                        Култаево      0      0
592                        Кульсары      0      0

[593 rows x 3 columns]

In [26]:
#Для каждого работодателя посчитайте количество регионов, в которых он публикует свои вакансии.

#Выберите максимальное значение из получившегося списка.




query = f'''
select
        e.name,
        count(distinct a.id) region
from employers as e
join vacancies as v on e.id = v.employer_id
join areas as a on v.area_id = a.id
group by e.id 
order by count(a.id) desc
'''
df = pd.read_sql_query(query,connection)
print(df)

C:\Users\dmitr\AppData\Local\Temp\ipykernel_22916\3515821148.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query,connection)

                                 name  region
0                              Яндекс     181
1                          Ростелеком     152
2                            Тинькофф      43
3                                СБЕР      24
4                       Газпром нефть      24
...                               ...     ...
14901         Торговый Дом Петровский       1
14902                      А2 Юнайтед       1
14903                    ТСЦ Дровосек       1
14904                  ПАВЛОДАРЭНЕРГО       1
14905  ЧЕТЫРЕ ЛАПЫ, Сеть зоомагазинов       1

[14906 rows x 2 columns]

In [27]:
#Напишите запрос для подсчёта количества работодателей, у которых не указана сфера деятельности.


query = f'''
select
    count(e.id)
from employers as e
left join employers_industries as em on em.employer_id = e.id
left join industries as i on industry_id = i.id
where i.id is null
'''
df = pd.read_sql_query(query,connection)
print(df)

   count
0   8419

C:\Users\dmitr\AppData\Local\Temp\ipykernel_22916\3789755527.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query,connection)

In [36]:
#Напишите запрос, чтобы узнать название компании, находящейся на третьем месте в 
#алфавитном списке (по названию) компаний, у которых указано четыре сферы деятельности.

query = f'''
select
    e.name
    ,count(i.id)
from employers as e
left join employers_industries as em on em.employer_id = e.id
left join industries as i on industry_id = i.id
group by e.name
having count(i.id) = 4
order by e.name 
'''
df = pd.read_sql_query(query,connection)
print(df)

C:\Users\dmitr\AppData\Local\Temp\ipykernel_14804\2367187142.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query,connection)

                 name  count
0        101 Интернет      4
1            21vek.by      4
2                2ГИС      4
3                  2К      4
4         4 пикселя +      4
...               ...    ...
1131            ЮРИОН      4
1132  ЮТИП Технологии      4
1133           ЯКласс      4
1134            ЯрНео      4
1135    Яшин&Партнёры      4

[1136 rows x 2 columns]

In [28]:
#С помощью запроса выясните, у какого количества работодателей в качестве сферы деятельности указана «Разработка программного обеспечения».

query = f'''
select
    count(i.id)
from employers as e
left join employers_industries as em on em.employer_id = e.id
left join industries as i on industry_id = i.id
where i.name = 'Разработка программного обеспечения'

'''
df = pd.read_sql_query(query,connection)
print(df)

   count
0   3553

C:\Users\dmitr\AppData\Local\Temp\ipykernel_22916\2023313502.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query,connection)

In [201]:
#Для компании «Яндекс» выведите список регионов-миллионников , в которых представлены вакансии компании,
#вместе с количеством вакансий в этих регионах.
#Также добавьте строку Total с общим количеством вакансий компании, собранных в этой таблице. 
#Должна получиться выборка такого вида (приведён пример результата для компании SberTech):

import requests 
from bs4 import BeautifulSoup
from pprint import pprint



url = 'https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D0%B0-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%8B_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8'

response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
table = soup.find('table' , class_ = "standard")
city = []
table = table.find_all('tr')
for  i in table:
    cityes = i.find_all('td')
    if len(cityes) > 1:
        city_name = cityes[1].get_text()
        city.append(city_name)



city = tuple(city)

query = f'''
with Area_count as
(select
    a.name as name
    ,count(v.id) as Total
from areas as a
join vacancies as v on v.area_id = a.id
left join employers as e on v.employer_id = e.id
where e.name = 'Яндекс' 
        and a.name in {city}

group by a.name
)

SELECT
    name,
    Total 
FROM Area_count

union all

select
        'Total' as name,
        cast(sum(Total) as integer)
from Area_count

'''
df = pd.read_sql_query(query,connection)
print(df)






''' 
Большинство вакансий предлагают полный рабочий день и полную занятость, что является традиционной моделью занятости. Однако значительное количество вакансий также предлагают удаленную работу, что указывает на растущую популярность гибких форм занятости. Рынок труда предлагает значительное количество вакансий для кандидатов с опытом от 1 года до 3 лет, что может указывать на высокий спрос на специалистов с некоторым уровнем профессионального опыта. Также существует приличное количество возможностей для кандидатов без опыта, что может быть полезным для начинающих специалистов. Данные показывают, что существует значительное количество работодателей в различных регионах, даже в тех, где в данный момент нет активных вакансий. Это может указывать на потенциальные возможности для трудоустройства в будущем. Компании, такие как Яндекс и Ростелеком, являются ведущими работодателями по количеству вакансий, что указывает на их значительное присутствие и активный набор персонала.





'''

               name  total
0         Волгоград     24
1           Воронеж     32
2      Екатеринбург     39
3            Казань     25
4         Краснодар     30
5        Красноярск     23
6            Москва     54
7   Нижний Новгород     36
8       Новосибирск     35
9              Омск     21
10            Пермь     25
11   Ростов-на-Дону     25
12           Самара     26
13  Санкт-Петербург     42
14              Уфа     26
15        Челябинск     22
16            Total    485

C:\Users\dmitr\AppData\Local\Temp\ipykernel_14804\1123186944.py:56: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query,connection)

In [29]:
#Сколько вакансий имеет отношение к данным ,nребования работодателей к дата-сайентистам.


query = f'''
select
    count(id)
from vacancies
where name ILIKE '%data%' or name ILIKE '%данн%'
'''
df = pd.read_sql_query(query,connection)
print(df)

   count
0   1771

C:\Users\dmitr\AppData\Local\Temp\ipykernel_22916\829530826.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query,connection)

In [30]:

#Сколько есть подходящих вакансий для начинающего дата-сайентиста?



data_vacancies = ['data scientist'
'data science', 'исследователь данных', 'ML' ,'machine learning','машинн%обучен%']

data_vacancies = tuple(data_vacancies)

query = f'''
select
    count(v.id)
from vacancies as v
where
    ((v.name ILIKE '%data scientist%' OR 
    v.name ILIKE '%data science%' OR 
    v.name ILIKE '%исследователь данных%' OR 
    v.name LIKE '%ML%' AND v.name NOT LIKE '%HTML%' OR
    v.name ILIKE '%machine learning%' OR 
    v.name ILIKE '%машинн%обучен%'))
    and ((v.name Ilike '%junior%' or 
    experience = 'Нет опыта' 
    or employment = 'Стажировка'))
'''
df = pd.read_sql_query(query,connection)
print(df)

C:\Users\dmitr\AppData\Local\Temp\ipykernel_22916\4212310690.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query,connection)

   count
0     51

In [264]:
#Сколько есть вакансий для DS, в которых в качестве ключевого навыка указан SQL или postgres?


query = f'''
select
    count(v.id)
from vacancies as v 
where
    (v.name ILIKE '%data scientist%' OR 
    v.name ILIKE '%data science%' OR 
    v.name ILIKE '%исследователь данных%' OR 
    v.name LIKE '%ML%' AND v.name NOT LIKE '%HTML%' OR
    v.name ILIKE '%machine learning%' OR 
    v.name ILIKE '%машинн%обучен%') 
    and
    (v.key_skills ILIKE '%postgres%' or v.key_skills ILIKE '%SQL%')

'''
df = pd.read_sql_query(query,connection)
print(df)

C:\Users\dmitr\AppData\Local\Temp\ipykernel_14804\2788091821.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query,connection)

   count
0    201

In [311]:
#С помощью запроса, аналогичного предыдущему, проверьте, насколько популярен Python в требованиях работодателей к DS. 
# Вычислите количество вакансий, в которых в качестве ключевого навыка указан Python.

query = f'''
with MeanSkill as(
select
    Length(v.key_skills) - length(replace(v.key_skills, CHR(9) , '' ))+ 1 as skills
from vacancies as v 
where
    (v.name ILIKE '%data scientist%' OR 
    v.name ILIKE '%data science%' OR 
    v.name ILIKE '%исследователь данных%' OR 
    (v.name LIKE '%ML%' AND v.name NOT LIKE '%HTML%') OR
    v.name ILIKE '%machine learning%' OR 
    v.name ILIKE '%машинн%обучен%')
    and v.key_skills is not null
    )

select 
    round(avg(skills),2)
from MeanSkill    
    
    
    
    
    
    
    
'''


df = pd.read_sql_query(query,connection)
print(df)

C:\Users\dmitr\AppData\Local\Temp\ipykernel_14804\1522959564.py:32: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query,connection)

   round
0   6.41

In [31]:
#Напишите запрос, позволяющий вычислить, какую зарплату для DS в среднем указывают для каждого типа требуемого опыта (уникальное значение из поля experience.'
#При решении задачи примите во внимание следующее:

#Рассматриваем только вакансии, у которых заполнено хотя бы одно из двух полей с зарплатой.
#Если заполнены оба поля с зарплатой, считаем зарплату по каждой вакансии как сумму двух полей, делённую на 2. Если заполнено только одно из полей, его и считаем зарплатой по вакансии.
#Если в расчётах участвует null, в результате он тоже даст null (посмотрите, что возвращает запрос select 1 + null).
#Чтобы избежать этой ситуации, мы воспользуемся функцией coalesce , которая заменит null на значение, которое мы передадим. Например, посмотрите, что возвращает запрос select 1 + coalesce(null, 0).
#Выясните, на какую зарплату в среднем может рассчитывать дата-сайентист с опытом работы от 3 до 6 лет. Результат округлите до целого числа.


query = f'''
with MeanSalary as (
    select
        experience,
        (coalesce(salary_from, salary_to) + coalesce(salary_to, salary_from)) / 2 as mean
    from vacancies as v 
    where
        (v.name ILIKE '%data scientist%' OR 
        v.name ILIKE '%data science%' OR 
        v.name ILIKE '%исследователь данных%' OR 
        (v.name LIKE '%ML%' AND v.name NOT LIKE '%HTML%') OR
        v.name ILIKE '%machine learning%' OR 
        v.name ILIKE '%машинн%обучен%')
        and (salary_from is not null or salary_to is not null)
)
select
    experience,
    round(avg(mean), 0) as avg_salary
from 
    MeanSalary
group by experience
'''

df = pd.read_sql_query(query, connection)
print(df)

C:\Users\dmitr\AppData\Local\Temp\ipykernel_22916\3308612235.py:34: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

           experience  avg_salary
0       От 3 до 6 лет    243115.0
1  От 1 года до 3 лет    139675.0
2           Нет опыта     74643.0